/****************
 * Adrian Martinez Rodriguez - UO284163
 * Estilos generales para la página
 *****************/

/* a=0 b=0 c=1 -> specificity = 1 */
body {
  margin: 0;
  font-size: 2em;
}

/* a=0 b=0 c=1 -> specificity = 1 */
header {
  background-color: #252525;
  color: #fff;
  padding: 0.2em;
  max-height: 10vh;
}

/* a=0 b=0 c=2 -> specificity = 2 */
header > figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.2em;
}

/* a=0 b=0 c=2 -> specificity = 2 */
header img {
  height: 5vh;
}

/* a=0 b=0 c=1 -> specificity = 1 */
nav {
  background-color: #252525;
  color: #fff;
  padding: 0.2em;
  max-height: 10vh;
}

/* a=0 b=0 c=1 -> specificity = 1 */
main {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.2em;
}

/* a=0 b=0 c=1 -> specificity = 1 */
footer {
  background-color: #252525;
  color: #fff;
  padding: 0.7em;
}

/* a=0 b=0 c=2 -> specificity = 2 */
nav a {
  color: #eee;
  padding: 1rem;
  text-decoration: none;
  height: 100%;
}

main a {
  color: #121212;
}

footer a {
  color: #fff;
}

/* a=0 b=1 c=2 -> specificity = 12 */
nav a:hover {
  color: #fff;
}