/****************
 * Adrian Martinez Rodriguez - UO284163
 * Hoja de estilos con el layout general
 * para toda la pagina
 *****************/

body {
  display: grid;
  grid-template-areas: 
    "header nav nav"
    "main main main"
    "footer footer footer"
  ;
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  height: fit-content;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

@media only screen and (max-width: 500px) {
  body {
    grid-template-areas: 
      "header"
      "nav"
      "main"
      "footer"
    ;
  }

  nav {
    flex-direction: column;
  }
}