/****************
 * Adrian Martinez Rodriguez - UO284163
 * Estilos especificos para la pagina sobre los
 * diferentes modulos de Node
 *****************/

/* a=0 b=0 c=1 -> specificity = 1 */
dt {
  font-weight: bold;
}

/* a=0 b=0 c=1 -> specificity = 1 */
dd {
  margin: 0 0 0 0.5em;
  padding: 0.1em;
}