body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background: #281c53;
  color: white;
  padding: 2em 1em;
  border-radius: 1em;
}

section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5em;
}

h2 {
  grid-column: span 5;
}

label {
  font-size: 1.5em;
}

input {
  font-size: 1.2em;
}

input[type=text] {
  grid-column: span 4;
  background: white;
  color: black;
  text-align: right;
}

input[type=button] {
  background: #e1fafe;
  border: 0.1em solid #2c747f;
  border-radius: 0.3em;
  color: black;
}

input[type=button]:hover {
  background: #bbf1f9;
  color: black;
}

input[type=button][value="+"] {
  grid-row: span 2;
}